h2{
    text-align:center;
  }

.exercise-content-wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  
.rdw-exercise-modal {
  position: absolute;
  top: 35px;
  left: 5px;
  display: flex;
  flex-direction: column;
  width: 175px;
  height: auto;
  border: 1px solid #f1f1f1;
  padding: 15px;
  border-radius: 2px;
  z-index: 100;
  background: white;
  box-shadow: 3px 3px 5px #bfbdbd;
}

.rdw-option-wrapper {
  border: 1px solid #f1f1f1;
  padding: 5px;
  min-width: 25px;
  height: 20px;
  border-radius: 2px;
  margin: 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: white;
  text-transform: capitalize;
}

.rdw-exercise-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  position: relative;
  flex-wrap: wrap;
}

.rdw-exercise-text-input {
  border: 1px solid #cccccc;
  height: 25px;
  width: 100%;
}

.rdw-exercise-text-instruction {
  border: 1px solid #f1f1f1;
  height: 30px;
  width: 100%;
  font-style: italic;
  font-size: 8pt;
}

.rdw-exercise-text-label {
  padding-top: 5px;
}

.rdw-exercise-modal-btn-section {
  margin: 10px auto 0;
}
.rdw-exercise-modal-url-input:focus {
  outline: none;
}
.rdw-exercise-modal-btn {
  margin: 0 5px;
  width: 75px;
  height: 30px;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  cursor: pointer;
  background: white;
  text-transform: capitalize;
}
.rdw-exercise-modal-btn:hover {
  box-shadow: 1px 1px 0px #bfbdbd;
}
.rdw-exercise-modal-btn:active {
  box-shadow: 1px 1px 0px #bfbdbd inset;
}
.rdw-exercise-modal-btn:focus {
  outline: none !important;
}
.rdw-exercise-modal-btn:disabled {
  background: #ece9e9;
}
.rdw-exercise-modal-flexbox {
  display: flex;
  flex-direction: row;
}