body {
  --focus-border: #007cd4;
  --separator-border: #4d546349;
}

[data-theme="dark"],
[data-theme="dark"] .sash {
  @apply bg-green-500;
}

/* unset max width for editorjs */
.ce-block__content,
.ce-toolbar__content {
  max-width: unset;
}

.ce-popover {
  @apply md:absolute md:top-0 md:-right-[58px] z-[99999];
}

/* 

couldnt get these to work 

[data-theme='dark'],
[data-theme='dark'] body {
    --focus-border: #00d478;
    --separator-border: blue !important; 
}

[data-theme='light'],
[data-theme='light'] body {
    --focus-border: #00d478;
    --separator-border: green !important;
}

*/
