@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-gradient {
  @apply relative bg-slate-800 border border-transparent text-white rounded-lg inline-flex px-4 py-2 transition;
}

.btn-gradient:hover {
  @apply bg-slate-900;
}

.btn-gradient::before {
  transition: all 0.2s ease 0s;
  content: "";
  position: absolute;
  background: linear-gradient(to right, #10b981, #10b3b9, #1097b9);
  inset: -3px;
  z-index: -1;
  border-radius: 9.5px;
}

.btn-gradient:hover::before {
  box-shadow: rgba(0, 220, 128, 0.356) 0px 0px 10px 0px,
    rgba(54, 228, 219, 0.342) 0px 0px 20px 0px;
}

img {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

/* Custom CSS Needed for TipTap PlaceHolder */
.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

