body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

span.cls_002 {
  font-family: Times, serif;
  font-size: 19.6px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
div.cls_002 {
  font-family: Times, serif;
  font-size: 19.6px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
span.cls_004 {
  font-family: Times, serif;
  font-size: 11.6px;
  color: rgb(145, 145, 145);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
div.cls_004 {
  font-family: Times, serif;
  font-size: 11.6px;
  color: rgb(145, 145, 145);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
span.cls_005 {
  font-family: Times, serif;
  font-size: 11.6px;
  color: rgb(108, 108, 108);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
div.cls_005 {
  font-family: Times, serif;
  font-size: 11.6px;
  color: rgb(108, 108, 108);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
span.cls_006 {
  font-family: Times, serif;
  font-size: 11.6px;
  color: rgb(108, 108, 108);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
div.cls_006 {
  font-family: Times, serif;
  font-size: 11.6px;
  color: rgb(108, 108, 108);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
span.cls_007 {
  font-family: Times, serif;
  font-size: 11.6px;
  color: rgb(145, 145, 145);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
div.cls_007 {
  font-family: Times, serif;
  font-size: 11.6px;
  color: rgb(145, 145, 145);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
span.cls_031 {
  font-family: Times, serif;
  font-size: 11.6px;
  color: rgb(0, 0, 255);
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}
div.cls_031 {
  font-family: Times, serif;
  font-size: 11.6px;
  color: rgb(0, 0, 255);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
span.cls_009 {
  font-family: Times, serif;
  font-size: 11.6px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
div.cls_009 {
  font-family: Times, serif;
  font-size: 11.6px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
span.cls_003 {
  font-family: Times, serif;
  font-size: 13.6px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
div.cls_003 {
  font-family: Times, serif;
  font-size: 13.6px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
span.cls_010 {
  font-family: Times, serif;
  font-size: 11.6px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
div.cls_010 {
  font-family: Times, serif;
  font-size: 11.6px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
span.cls_032 {
  font-family: Times, serif;
  font-size: 11.6px;
  color: rgb(108, 108, 108);
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}
div.cls_032 {
  font-family: Times, serif;
  font-size: 11.6px;
  color: rgb(108, 108, 108);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
span.cls_033 {
  font-family: Times, serif;
  font-size: 13.6px;
  color: rgb(108, 108, 108);
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}
div.cls_033 {
  font-family: Times, serif;
  font-size: 13.6px;
  color: rgb(108, 108, 108);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
span.cls_012 {
  font-family: Times, serif;
  font-size: 11.6px;
  color: rgb(108, 108, 108);
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}
div.cls_012 {
  font-family: Times, serif;
  font-size: 11.6px;
  color: rgb(108, 108, 108);
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}
span.cls_013 {
  font-family: Times, serif;
  font-size: 11.6px;
  color: rgb(108, 108, 108);
  font-weight: normal;
  font-style: italic;
  text-decoration: none;
}
div.cls_013 {
  font-family: Times, serif;
  font-size: 11.6px;
  color: rgb(108, 108, 108);
  font-weight: normal;
  font-style: italic;
  text-decoration: none;
}
span.cls_014 {
  font-family: Arial, serif;
  font-size: 10px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
div.cls_014 {
  font-family: Arial, serif;
  font-size: 10px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
span.cls_017 {
  font-family: Times, serif;
  font-size: 11.1px;
  color: rgb(108, 108, 108);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
div.cls_017 {
  font-family: Times, serif;
  font-size: 11.1px;
  color: rgb(108, 108, 108);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
span.cls_018 {
  font-family: Arial, serif;
  font-size: 14.6px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
div.cls_018 {
  font-family: Arial, serif;
  font-size: 14.6px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
span.cls_019 {
  font-family: Times, serif;
  font-size: 11.1px;
  color: rgb(108, 108, 108);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
div.cls_019 {
  font-family: Times, serif;
  font-size: 11.1px;
  color: rgb(108, 108, 108);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
span.cls_034 {
  font-family: Times, serif;
  font-size: 11.1px;
  color: rgb(0, 0, 255);
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}
div.cls_034 {
  font-family: Times, serif;
  font-size: 11.1px;
  color: rgb(0, 0, 255);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
span.cls_021 {
  font-family: Times, serif;
  font-size: 14.6px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
div.cls_021 {
  font-family: Times, serif;
  font-size: 14.6px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
span.cls_023 {
  font-family: Arial, serif;
  font-size: 11.6px;
  color: rgb(108, 108, 108);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
div.cls_023 {
  font-family: Arial, serif;
  font-size: 11.6px;
  color: rgb(108, 108, 108);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
span.cls_024 {
  font-family: Times, serif;
  font-size: 10.6px;
  color: rgb(108, 108, 108);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
div.cls_024 {
  font-family: Times, serif;
  font-size: 10.6px;
  color: rgb(108, 108, 108);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
span.cls_025 {
  font-family: Arial, serif;
  font-size: 11.1px;
  color: rgb(108, 108, 108);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
div.cls_025 {
  font-family: Arial, serif;
  font-size: 11.1px;
  color: rgb(108, 108, 108);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
span.cls_026 {
  font-family: Times, serif;
  font-size: 13.6px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
div.cls_026 {
  font-family: Times, serif;
  font-size: 13.6px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
span.cls_035 {
  font-family: Times, serif;
  font-size: 11.1px;
  color: rgb(108, 108, 108);
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}
div.cls_035 {
  font-family: Times, serif;
  font-size: 11.1px;
  color: rgb(108, 108, 108);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
span.cls_028 {
  font-family: Arial, serif;
  font-size: 11.6px;
  color: rgb(108, 108, 108);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
div.cls_028 {
  font-family: Arial, serif;
  font-size: 11.6px;
  color: rgb(108, 108, 108);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
span.cls_029 {
  font-family: Arial, serif;
  font-size: 10.6px;
  color: rgb(108, 108, 108);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
div.cls_029 {
  font-family: Arial, serif;
  font-size: 10.6px;
  color: rgb(108, 108, 108);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
span.cls_036 {
  font-family: Arial, serif;
  font-size: 10.6px;
  color: rgb(0, 0, 255);
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}
div.cls_036 {
  font-family: Arial, serif;
  font-size: 10.6px;
  color: rgb(0, 0, 255);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
