.markdown {
    @apply space-y-4 text-slate-900 dark:text-slate-200 text-sm sm:text-base
}

.markdown h1 {
    @apply text-lg font-bold font-dm !mt-4 text-slate-900 dark:text-slate-100;
}

.markdown h4 {
    @apply text-lg font-bold font-dm !mt-4 text-slate-900 dark:text-slate-100;
}

.markdown h2 {
    @apply text-lg font-bold font-dm !mt-4 text-slate-900 dark:text-slate-100;
}

.markdown h3 {
    @apply text-lg font-bold font-dm !mt-4 text-slate-900 dark:text-slate-100;
}

.markdown p {
    @apply text-slate-900 dark:text-slate-200;
}

.markdown ul {
    @apply list-disc p-5 bg-slate-100 text-slate-900 dark:border-none dark:text-slate-300 dark:bg-nav-darkest border list-inside rounded-md space-y-3;
}

.markdown ul ul {
    @apply bg-slate-200 rounded-sm border-slate-300 dark:bg-nav-darker dark:border-none mt-2
}

.markdown li {
    @apply list-outside ml-4 list-disc;
}

.markdown code {
    @apply bg-slate-800/10 cursor-pointer hover:bg-slate-800/20 dark:border-none dark:bg-slate-200/10 border p-1 rounded-md text-slate-900 dark:text-white;
}

.markdown pre {
    @apply bg-emerald-500/10 border border-emerald-300 p-3 rounded-md transition-colors hover:bg-emerald-500/20 overflow-x-scroll;
}

.markdown pre::-webkit-scrollbar {
    @apply h-2 w-2
}

.markdown pre::-webkit-scrollbar-track {
    @apply bg-transparent 
}

.markdown pre::-webkit-scrollbar-thumb {
    @apply bg-emerald-900/20 dark:bg-emerald-100/20 rounded-md hover:bg-emerald-900/30 dark:hover:bg-emerald-100/30
}

.markdown pre code {
    @apply !bg-transparent border-none p-0 hover:bg-transparent text-slate-900 dark:text-white;
}

.markdown blockquote {
    @apply border-l-4 border-slate-800/10 dark:border-slate-100/10 leading-8 italic p-3 rounded-md;
}

.markdown blockquote > blockquote {
    @apply border-none p-0;
}