# This is a basic workflow to help you get started with Actions
name: s3-development-deployment

on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [development]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Build Edugator Staff Application
        run: npm install && npm run build && npm run export
      - name: Deploy app dev build to S3 bucket
        run: aws s3 sync ./build/ s3://development-trunk-edugator --delete